$colorauthor: #385FF4;
$colorfacontacto: #3b5998;
$colorfacebook: #3b5998;
$colortwitter: #00acee;
$colorpinterest: #c8232c;
$colorinstagram: #C13584;
$colorbody_bg_img: linear-gradient(to left, white, #21618C);
$colortextfooter: #D3D9E2;
$color_bg_footer: #282828;
$color_card_1: #E3E7FA;